body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
}

.tip {
  width: 75%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.tip h2 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: bold;
}

.tip p {
  margin: 0;
  font-size: 1.2rem;
}

.btn {
  width: 25%;
  height: 100%;
  background-color: #FCA311;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn button {
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #14213D;
  color: white;
  border: none;
  padding: 20px;
  border-radius: 10px;
}

.title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  font-weight: bold;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
}

.season {
  font-size: 1.5rem;
  font-weight: bold;
}
